@import '../base/variables';
@import '../base/mixins';

.advantages{
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;

    &__item{
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;

        span{
            font-size: 18px;
            font-weight: 700;
            font-stretch: normal;
            text-align: center;
            color: #0d0d0d;
        }

        &_descr{
            margin-top: 38px;
            width: 239px;
            height: 81px;
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
            text-align: center;
            color: #0d0d0d;
        }

        &_img{
            width: 70px;
            height: 70px;
        }

        &_url{
            font-size: 14px;
            font-weight: 300;
            color: $main_color;
            text-transform: uppercase;
            text-decoration: underline;
            &:hover{
                font-size: 14px;
                font-weight: 300;
                color: $main_color;
                text-transform: uppercase;
            }
        }

    }

    &__label{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
}