.feed-form{
    max-width: 300px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    input{
        margin-bottom: 15px;
        border-radius: 5px;
        border: none;
        height: 50px;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
    }
    button{
        width: 100%;
        margin-top: 5px;
    }
    &_mt25{
        margin-top: 25px;
    }
}