@media (max-width: 1191px){
    .consultation{
        &__wrapper{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

@media (max-width: 1099px){
    .slider{
        &-prev{
            left: 0;
        }
        &-next{
            right: 0;
            }
}
}

@media (max-width: 960px){
    .advantages{
        &__wrapper{
            justify-content: space-around;
        }
    }
    
    .catalog{
        &__content{
            justify-content: center;
        }
    }
    .feed{
        &-item{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .header{
        justify-content: space-around;
    }

    .promo{
        &__wrapper{
            padding-right: 50px;
        }
    }

    .slider{
        &__nav{
            display: flex;
            justify-content: center;
        }
        &-next, &-prev{
            margin: 20px 10px 20px 10px;
            position: relative;
        }
        
    }

    .title{
        &_left{
            font-size: 21px;
            line-height: 24px;
        }
    }
}

@media (max-width: 767px){

    .advantages{
        &__wrapper{
            flex-direction: column;
        }
    }

    .catalog{
        &__tabs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__tab{
            width: 80%;
            margin: 5px 0;
        }
    }

    .header{

        &__official{
            display: none;
        }
    }

    .promo{

        &__wrapper{
            width: 100%;
            padding: 0;
            align-items: center;
        }
    }

    .slider{
        .tns-item{
            img{
                width: 100%;
            }
        }
    }
}

@media (max-width: 580px){
    .feed{
        &-item{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__block{
                margin-left: 0;
                &_usr{
                    margin-top: 20px;
                    text-align: center;
                    text-justify: inter-word;
                }
                &_exp{
                    text-align: center;
                    text-justify: inter-word;
                }
                &_text{
                    text-align: center;
                    text-justify: inter-word;
                }
            }
        }
    }
}

@media (max-width: 525px){

    .consultation{
        padding: 80px 0 72px 0;
        &__descr{
            margin: 40px auto;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
        }
    }

    .feed-form{
        margin: 36px auto;
    }

    .footer{
        &__info{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            background-color: $main-color;
            padding: 20px;
        }
    }

    .header{
        flex-direction: column;

        &__contacts{
            align-items: center;
            margin-top: 20px;
            button{
                margin-top: 20px;
            }
        }

    }

    .promo{
        &__icon{
            margin-right: 10px;
        }

        &__header{
            font-size: 28px;
        }

        &__subheader{
            font-size: 20px;
        }

        &__wrapper{
            width: 100%;
            padding: 0;
            align-items: center;
            margin-top: 30px;
        }
    }

    .title{
        &_left{
            font-size: 21px;
            text-align: center;
            line-height: 24px;
            margin: 0 auto;
        }
    }

}

@media (max-width: 370px){

    .promo{
        &__icon{
            margin-top: 20px;
            margin-right:0;
            &_descr{
                margin-top: 10px;
            }
        }

        &__icons{
            margin-top: 0;
            flex-direction: column;
        }

        &__header{
            font-size: 24px;
        }

        &__subheader{
            font-size: 14px;
            text-transform: uppercase;
        }

        &__wrapper{
            width: 100%;
            padding: 0;
            align-items: center;
            margin-top: 30px;
        }
    }

}

@media (max-width: 320px){
    .consultation{
        &__descr{
            max-width: 250px;
        }
    }
}